body{
  font-family: sans-serif;
  background-image: radial-gradient(#eef2f3 0%, #8e9eab 100%);
  margin: 0;
  padding: 0;
}

svg{
  background-image: radial-gradient(#eef2f3 0%, #8e9eab 100%);
}

#colloidal-slider_container{
  width: 50%;
  padding-left: 10%;
  display: inline-block;
}

#colloidal-choices{
  display: inline-block;
  width: 30%;
  z-index: 10;
  font-size: 20px;
  text-align: right;
  vertical-align: top;
  height: 100%;
  margin: auto;
}

.colloidal-slider{
  text-align: center;
  display: inline-block;
}

.colloidal-slider label, .colloidal-slider input{
  display: block;
  width: 100%;
}

#colloidal-header{
  position: absolute;
  height: 175px;
  background-image: radial-gradient(#eef2f3 0%, #8e9eab 100%);
  top: 0px;
  right: 0px;
  width: 100%;
}

#colloidal-info_menu{
  background-image: radial-gradient(#8e9eab 0%, #eef2f3 100%);
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 10;
  padding: 40px;
  border-radius: 10px;
}

#hamburg_menu{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  z-index: 10;
}

#colloidal-size_choice{
  font-size: 20px;
  height: 35px;
  width: 40px;
  text-align: center;
}

#colloidal-attrition_choice{
  font-size: 20px;
  height: 35px;
  width: 60px;
  text-align: center;
}

#colloidal-canvas{
  position: absolute;
  top: 175px;
}
