.container{
  text-align: center;
  padding-top: 10px;
}

.homepage_link{
  padding: 10px;
}

a{
  color: #333;
  text-decoration: none;
}

body{
  font-family: sans-serif;
  background-color: #eee;
}

.website{
  border: 1px solid black;
  width: 80%;
  padding: 10px 0px;
  margin: auto;
}

.site_name a{
  color: darkblue;
  font-size: large;
}

.github_logo{
  width: 64px;
  height: 64px;
}

.languages{

}

p{

}
