<!doctype html>
<html lang="">
  <head>
    <title>YeasterEgg fun with colloidal Mixtures!</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yeasteregg">
    <meta name="keywords" content="geosmine petrichor">
    <meta name="author" content="Yeasteregg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/colloidal.css')}}">
    <link rel="icon" type="image/png" href="/favicon" />
  </head>
  <body id="colloidal">
    <div class="colloidal-momentum_container">
      <span class="colloidal-overlined">p</span> = <span class="colloidal-momentum_value">0</span>
    </div>
    <div class="colloidal-menu_container">
      <div class="colloidal-menu_closebutton">X</div>
      <div class="colloidal-sliders_container"></div>
      <div class="colloidal-inputs_container">
        <div>
          <label class="colloidal-input_label" for="colloidal-size_input">Number of classes</label>
          <input class="colloidal-input" id="colloidal-size_input" type="number" max="6" min="1" step="1" maxlength="1"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-attrition_input">Movement Attrition</label>
          <input class="colloidal-input" id="colloidal-attrition_input" type="number" max="1" min="0" step="0.01" maxlength="3"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-m_input">Interaction Coefficient</label>
          <input class="colloidal-input" id="colloidal-m_input" type="number" max="50" min="1" step="1" maxlength="2"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-minimum_input">Interaction Min Distance</label>
          <input class="colloidal-input" id="colloidal-minimum_input" type="number" max="20" min="0" step="1" maxlength="2"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-particles_number">Number of Particles</label>
          <input class="colloidal-input" id="colloidal-particles_number" type="number" max="500" min="1" step="1" maxlength="3"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-mouse_radius">Mouse Ball Radius</label>
          <input class="colloidal-input" id="colloidal-mouse_radius" type="number" max="80" min="1" step="1" maxlength="2"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-mouse_weight">Mouse Ball Weight</label>
          <input class="colloidal-input" id="colloidal-mouse_weight" type="number" max="50" min="0" step="1" maxlength="2"/>
        </div>
        <div>
          <label class="colloidal-input_label" for="colloidal-system_energy">Total System Energy</label>
          <input class="colloidal-input" id="colloidal-system_energy" type="number" max="100" min="0" step="1" maxlength="2"/>
        </div>
      </div>
      <div class="colloidal-help_container">
        <h3 class="colloidal-help_title">WTF is this??</h2>
        <p>
          These particles interact with each other, you can set the general system variables using the input panel. Resetting the number of particles or the number of classes resets the whole system.
          Also you can manage the interaction between all classes with the sliders, going from -1 up to 1, respectively rejecting or attracting other classes' particles. The first color of the slider is the class rejected from or attracted to the second color.
          The <span class="colloidal-overlined">p</span> value is the average momentum of the particles.
        </p>
        <p class="colloidal-help_postscripta">
          P.S. Yes, that's an Hamburg Menu
        </p>
      </div>
    </div>
    <a class="colloidal-hamburg_menu" />
    <script src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
