<!doctype html>
<html lang="">
  <head>
    <title>YeasterEgg fun with colloidal Mixtures!</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yeasteregg">
    <meta name="keywords" content="geosmine petrichor">
    <meta name="author" content="Yeasteregg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/colloidal.css')}}">
    <link rel="icon" type="image/png" href="/favicon" />
  </head>
  <body id="colloidal">
    <div class="header">
      <div class="momentum">
        <span class="letter">p</span> = <span class="current_momentum">0</span>
      </div>
      <div class="sliders_container"></div>
      <div class="inputs">
        <div>
          <label for="size_input">Number of classes</label>
          <input id="size_input" type="number" max="6" min="1" step="1" maxlength="1"/>
        </div>
        <div>
          <label for="attrition_input">Movement Attrition</label>
          <input id="attrition_input" type="number" max="1" min="0" step="0.01" maxlength="3"/>
        </div>
        <div>
          <label for="m_input">Interaction Coefficient</label>
          <input id="m_input" type="number" max="50" min="1" step="1" maxlength="2"/>
        </div>
        <div>
          <label for="minimum_input">Interaction Min Distance</label>
          <input id="minimum_input" type="number" max="20" min="0" step="1" maxlength="2"/>
        </div>
        <div>
          <label for="particles_number">Number of Particles</label>
          <input id="particles_number" type="number" max="500" min="1" step="1" maxlength="3"/>
        </div>
        <div>
          <label for="mouse_radius">Mouse Ball Radius</label>
          <input id="mouse_radius" type="number" max="80" min="1" step="1" maxlength="2"/>
        </div>
        <div>
          <label for="mouse_weight">Mouse Ball Weight</label>
          <input id="mouse_weight" type="number" max="50" min="0" step="1" maxlength="2"/>
        </div>
      </div>
      <img id="hamburg_menu" src="/static/pics/hamburg.png"></img>
    </div>
    <div id="info_menu">No info here, just an Hamburg Menu</div>
    <script src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
