<!doctype html>
<html lang="">
  <head>
    <title>YeasterEgg!</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yeasteregg">
    <meta name="keywords" content="geosmine petrichor">
    <meta name="author" content="Yeasteregg">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="icon" type="image/png" href="/favicon" />
  </head>
  <body id="yeast">
    <script src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
